// footer
.footer
  display: flex
  height: 70px
  background-color: $black
  &__link
    background-color: $blue
    height: 60px
    width: 60px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    margin-left: 10px
    margin-top: 5px
    &:hover
      box-shadow: 3px -3px 7px $white
      background-color: $navy
  &__text
    margin-left: auto
    margin-right: 10px
    margin-top: auto
    color: $white
    display: flex
    align-items: flex-end
    &:after
      content: "©"
      color: $white
      display: block
      font-size: 20px