//header
.header 
  background-color: $white
  &__title 
    font-size: 32px
    text-transform: uppercase
    text-align: center
    padding: 20px 0
    letter-spacing: 1px
    margin-bottom: 0
  &__nav 
    display: flex
    justify-content: center
    border-top: 3px solid $darkgrey
    border-bottom: 3px solid $darkgrey
    padding: 8px 0
  &__link 
    font-size: 18px
    text-transform: uppercase
    color: $darkgrey
    font-weight: 500
    letter-spacing: 1px
    position: relative
    margin-right: 30px
    transition: color 0.5s
    overflow: hidden
    &:after
      content: ''
      position: absolute
      top: 0
      right: -50%
      height: 90%
      width: 50%
      background-color: $white 
      transition: transform 0.5s
    &:before
      content: ''
      position: absolute
      bottom: 0
      right: 0
      height: 2px
      width: 200% 
      background-image: linear-gradient(to right, $yellow 50% , $darkgrey 50%)
      transition: 0.6s
    &:hover
      text-decoration: none
      color: $yellow
      &:after
        transform: translateX(-301%)
      &:before
        transform: translateX(50%)
        transition: 0.5s
        //background-color: $yellow
        //width: 100%
        //z-index: 1

      // &:after
      //   background-color: $purple
      //   transform: translateX(10px)
      //   width: calc(100% + 20px)
      //   transition: 0.5s
      
    

        
//header END