// news
.news
  display: flex
  flex-direction: column
  align-items: center
  background-color: $purple
  &__item 
    min-height: 250px
    width: 500px
    font-size: 60px
    color: $white
    padding: 40px
    &--one 
      background-color: $violet
      position: relative
      cursor: pointer
      transition: all 0.5s ease
      top: 0
      left: 0
    &--two 
      background-color: $blue
      position: relative
    &--three 
      background-color: $yelow
      position: relative
      // overflow: hidden
  &__text 
    font-size: 16px
  &__text-decor 
    color: $orange 
  &__text-decor:before 
    content: '$'
  &__text-decor:after 
    content: ':'
  &__icon
    width: 70px
    height: 70px
    background-color: $white
    display: block
    border-radius: 50%
    position: absolute
    &--one
      left: 0
      top: 0
      border-radius: 0%
      transform: translate(-50%, 20%) rotate(45deg)
      background-color: $blue
      &:before
        content: "1"
        height: 1em
        display: block
        position: absolute
        color: $black
        font-style: normal
        transform: rotate(-45deg) translate(50%, 20%) 
    &--two
      right: 0
      top: 50%
      transform: translate(50%, -50%)
      border-radius: 0
      color: $black
      font-size: 50px
      font-style: normal
      text-align: center
      &:after
        content: ""
        display: block
        width: 15px
        height: 15px
        position: absolute
        background-color: $yelow
        left: 100%
        transform: translate(-50%, -100%)
      &:before
        content: ""
        display: block
        width: 15px
        height: 15px
        position: absolute
        transform: translate(-50%, -50%)
        background-color: $yelow
    &--three
      right: 0
      bottom: 0
      transform: translate(50%, 0)
      border-radius: 100%
      background-color: $violet
      color: $black
      font-size: 50px
      font-style: normal
      text-align: center
      border: 5px solid $white
      &:after
        content: ''
        position: absolute
        transform: translate(-65%, -11%)
        border: 10px solid transparent
        transition: 0.5s
        height: 75px
        width: 75px
        border-radius: 30%
      &:hover
        transition: 0.5s ease
        border-color: transparent
        &:after
          content: ''
          position: absolute
          transform: translate(-65%, -11%)
          border: 10px solid $white
          transition: 0.5s
          height: 75px
          width: 75px
          border-radius: 30%
// news END